<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/application.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-2">
        <form th:action="@{/home}" method="get">
            <button class="btn btn-info btn-block btn-lg" type="Submit"><i class="fa fa-arrow-left"></i> Home</button>
        </form>
    </div>
    <div class="col-md-2 offset-md-8">
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-danger btn-block btn-lg" type="Submit">Logout</button>
        </form>
    </div>
</div>
<div class="container">
    <h4 class="col-md-4 col-form-label">History : </h4>
        <!-- filter <div th:each="appartment: ${appartments.?[owner.name == __${user_name}__]}" class="col-md-4">-->
        <div  th:each="history: ${histories}" th:if="${history.user1.getId() == user.getId() || history.user2.getId() == user.getId()}">
            <div class="row">
                <p th:utext="${history.getDate()}"></p>
                <p th:utext="${' - Transaction n° '+ history.getId()+' - '+history.user1.getName()+' vers '+history.user2.getName()+' _ '+ history.getBalance()+'€'}"></p>
            </div>
        </div>
</div>
</body>
</html>